body, html {
	height: 100%; 
	width: 100%;
}  
 
body {
	font-family: 'Open Sans', sans-serif;, Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: #3D223D;
}

 h4, h5, h6, a, .sub-heading {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #9E809C;
}

.Roboto_Slab_Normal {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #9E809C;
	font-size: 22px;
	line-height: 18px;
}

p, .Roboto {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #82B36D;
}

.Roboto {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #5c5c5b;
	font-size: 18px;
	line-height: 15px;

}

h3  {
	font-family: 'Roboto Slab', serif;
		color: #9E809C;
		margin-top: 25px;
}


h1, h2 {
	font-family: 'Pacifico', cursive;
	color: #3D223D;
} 

.Pacifico {
	font-family: 'Pacifico', cursive;
	color: #3D223D;
	font-size: 25px;
	line-height: 25px;
}


h3 {
	margin-top: 0;
	margin-bottom: 18px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 50px;
}

.space {
	margin-top: 30px;
}

.green {
		color: #82B36D;
}

.sub-heading {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.navbar {
	background-color: #3D223D;
	border-color: #3D223D;
	opacity: .95;
} 

.lead {
	font-size: 18px;
	font-weight: 300;
	color: #5c5c5b;
	padding-top: 6px;
}

.intro-header {
	padding-top: 0px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 0px;
	color: #f8f8f8;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 8px;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	.space {
		font-size: 1.5em; 
	}

	.intro-divider {
		width: 100%;
	}
	
	.sub-heading {
		font-size: 1em;
	}

	.lead {
		font-size: 1em;
	}

	.Pacifico {
		font-size: 1.5em;
	}

	.Roboto, .Roboto_Slab_Normal {
		font-size: 1.2em;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}


.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

@media (max-width: 767px) {
	.content-section-a, .content-section-b {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.banner {
	padding: 25px 0;
	color: #f8f8f8;
	background-color: #82B36D;
	background-size: cover;
	opacity: .8;

}

.banner h2 {
	margin: 0;
	font-size: 3em;
	padding-top: 15px;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

@media (max-width: 767px) {
	.banner {
		padding: 20px 0;
	}
	
	.banner h2 {
		margin: 0;
		font-size: 2.5em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 0px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	#hideme {
		display: none;
	}

	#mobilebanner {
		font-size: .8em;
	}

	footer {
		padding: 20px 0;
	}

	#footertext {
		font-size: .7em;
	}
}

p.copyright {
	margin: 15px 0 0;
}

img {
	border-radius: 15px;
	margin-top: 70px;
}

.btn {
	margin-top: 20px;
	margin-bottom: 15px;
}

.padding {
	padding-top: 15px;
}

#color1 {
	background-color: #3D223D;
	height: 20px;
	width: 80%;
	border-radius: 10px;
	margin-top: 30px;
}

#color2 {
	background-color: #9E809C;
	height: 20px;
	width: 80%;
	border-radius: 10px;
}

#color3 {
	background-color: #82B36D;
	height: 20px;
	width: 80%;
	border-radius: 10px;
}

#color4 {
	background-color: #5c5c5b;
	height: 20px;
	width: 80%;
	border-radius: 10px;
}

#photo {
	margin-bottom: 20px;
}

#default {
	margin-right: 30px;

}

.btn-lg, .btn-default {
	width: 150px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	margin-top: 10px;
}

.default1:hover {
	border-color: #3D223D;
}

.default2, .default2:hover {
	border-color: #3D223D;
}

.hover2:hover {
	border-color: #9E809C;
	color: #9E809C;
}

.default3, .default3:hover {
	border-color: #82B36D;
	color: #82B36D;
}

.hover3 {
	border-color: #82B36D;
	color: #82B36D;
}

.hover3:hover {
	border-color: #3D223D;
	color: #3D223D;
}